

.photo {
    padding-bottom: 15px;
    display: block;
    margin: 0 auto;
    width: 60% !important; 
    height: auto !important;
}

.heading {
    padding-top: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:xx-large;
}

.secondHeader {
     padding-top: 5px;
     display: flex;
     justify-content: center;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-group-text {
    padding: 0;
    border: none;
    width: 100%;
}
